<!DOCTYPE HTML>
<html>
  <head>
    <title>Dietary Restrictions</title>
  </head>
  
  <body>
    <p class = "diet1">
      Vegan
      <img src = "https://wellandfull.com/wp-content/uploads/2016/02/WellandFull-1-23.jpg">
    </p>
    
    <p class = "diet2">
      Pescetarian
      <img src = "http://www.livestrong.com/wp-content/uploads/2016/01/fish.jpg">
    </p>
    
    <p class = "diet3">
      Organic
      <img src = "https://healthprep.com/wp-content/uploads/2018/03/Organic.Dreamstime.jpg">
    </p>
    
    <p class = "diet4">
      Gluten Free
      <img src = "http://visuckhoeviet.net/UserUpload/Editor/gluten-free-products.jpg">
    </p>
    
    <p class = "diet5">
      All Restaurants
      <img src = "">
    </p>
  </body>
</html>