<!DOCTYPE html>
<html>
  <head><title> Soul Food</title> <link rel="stylesheet" type="text/css" href= "css/style.css"> </head>
 <body>


   <h1 class = "name" align = "center"> Your Soul Food </h1> 
   
   <hr style = "height: 4px" width = "50%"><br>
   
   <p class = "results" align = "middle">
   <%@answer.each do |restaurant, link|%>
       <a href="<%=link%>" target="_blank"><%=restaurant%></a><br><br>
    <%end%>
    </p>
    
  </body>
</html>